* {
  box-sizing: border-box;
}

/*
 Gotchas: I struggled to center content gracefully.
 Primary issue was with an already centered table.
*/
.container {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.border {
  border: 1px solid #000;
}

/**
 * Component specific
 */

.game-header {
  margin-bottom: 10px;
}

.btn-refresh {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.btn-refresh:hover {
  background-color: #DDD;
  border: 1px solid #DDD;
}
.btn-refresh:active {
  background-color: #999;
  border: 1px solid #999;
}

.board {
  border-spacing: 0px;
}

.action-bar {
  margin-bottom: 15px;
}

.cell {
  width: 45px;
  max-width: 45px;
  height: 45px;
  max-height: 45px;
  border: 1px solid #000;
  text-align: center;
}

.cell-red {
  background-color: red;
}

.cell-black {
  background-color: black;
}

.add-dot-btn {
  background-color: #E9F6E9;
  padding: 6px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px solid #24AE24;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}
.add-dot-btn:hover {
  background-color: #24AE24;
  border: 1px solid #24AE24;
  color: #FFF;
}
.add-dot-btn:active {
  background-color: #1C8B1C;
  border: 1px solid #1C8B1C;
  color: #FFF;
}
.add-dot-btn:disabled, .add-dot-btn[disabled] {
  background-color: #EEE;
  border: 1px solid #DDD;
  color: #999;
  cursor: inherit;
}
